.too {
  position: absolute;
  top: 6%;
  left: 17%;
  width: 770px;
  height: 400px;
  overflow: hidden;
  display: inline-block;
  border-radius: 50px;
  transition: filter 0.3s ease; /* 필터 효과에 부드러운 전환 추가 */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .too img {
    position: relative;
    transform-origin: left top; /* 기준점을 왼쪽 위로 설정 */
    display: block; /* 이미지 주변의 여백 제거 */
    transition: filter 0.3s ease; /* 필터 효과에 부드러운 전환 추가 */
    filter: saturate(1.3);
  }
  
  .box5 {
    position: absolute;
    top: 6%;
    left: 17%;
    width: 770px;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50px;
    transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
    /* border: 4px solid #fff; */
    background-color: #fff;
}

.box5 img {
  position: relative;
  transform-origin: left top; /* 기준점을 왼쪽 위로 설정 */
  display: block; /* 이미지 주변의 여백 제거 */
  transition: filter 0.3s ease; /* 필터 효과에 부드러운 전환 추가 */
  filter: saturate(0);
}

.box5:hover {
  opacity: 0;
}

.txt-5 .title {
  font-size: 3.3em; /* 폰트 크기 조정 */
  margin-left: 200px;
  padding: 0;
  top: 65px;
  position: relative;
  font-family: 'Pretendard-Regular';
}

.txt-5 .en {
    position: absolute;
    font-size: 1.6em; /* 폰트 크기 조정 */
    margin-left: 440px;
    margin-top: 80px;
    letter-spacing: 1px;
    padding: 0;
    top: 65px;
    font-family: 'Pretendard-Regular';
  }

.txt-5 .type {
font-family: 'Pretendard-Regular';
font-size: 1.8em; /* 폰트 크기 조정 */
padding: 0;
top: 236px;
position: absolute;
margin-left: 304px;
font-weight: 400;
}

.txt-5 .tool {
font-family: 'Pretendard-Regular';
font-size: 1.6em; /* 폰트 크기 조정 */
padding: 0;
top: 276px;
position: absolute;
margin-left: 440px;
font-weight: 400;
}

.txt-5 .redesign {
font-family: 'Pretendard-Regular';
font-size: 2em; /* 폰트 크기 조정 */
font-weight: bold;
padding: 22px 110px;
top: 364px;
position: relative;
margin-left: 484px;
color: rgb(93, 133, 241);
font-family: 'SUITE-Regular';
background-color: #fff;
border-radius: 10px;
text-align: center;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease-in; /* 부드럽게 변화하는 효과 */
}

.txt-5 .redesign:hover {
  color: #fff;
  font-family: 'SUITE-Regular';
  background-color: rgb(93, 133, 241);
  border: 3px solid #fff;
}

      .egg {
        position: absolute;
        top: 52%;
        left: 17%;
        width: 770px;
        height: 400px;
        overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
        display: inline-block;
        border-radius: 50px;
        transition: filter 0.3s ease; /* 필터 효과에 부드러운 전환 추가 */
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
        background-color: #ffd335;
    }
    
    .egg > img {
      position: relative;
      top: 13%;
      width: 770px;
      transition: filter 0.3s ease; /* 필터 효과에 부드러운 전환 추가 */
      filter: saturate(1.23);  
    }
    
    .box6 {
      position: absolute;
      top: 52%;
      left: 17%;
      width: 770px;
      height: 400px;
      overflow: hidden; /* 이미지가 부모 영역을 넘지 않도록 설정 */
      border-radius: 50px;
      transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
      /* border: 4px solid #fff; */
      background-color: #fff;
      }
      
      .box6 img {
        position: relative;
        top: 13%;
      width: 770px;
      transform-origin: left top; /* 기준점을 왼쪽 위로 설정 */
      transition: opacity 0.5s ease; /* opacity 변화에 부드러운 전환 추가 */
        filter: saturate(0.1);
        background-color: #000;
      }
      
      .box6:hover {
      opacity: 0;
      }
      
      .txt-6 .title {
      font-size: 3.3em; /* 폰트 크기 조정 */
      margin-left: 200px;
      padding: 0;
      top: 444px;
      position: relative;
      font-family: 'Pretendard-Regular';
      }
      
      .txt-6 .en {
          position: absolute;
          font-size: 2.3em; /* 폰트 크기 조정 */
          margin-left: 294px;
          margin-top: 100px;      
          padding: 0;
          font-family: 'Pretendard-Regular';
        }
      
      .txt-6 .type {
      font-family: 'Pretendard-Regular';
      font-size: 1.8em; /* 폰트 크기 조정 */
      padding: 0;
      top: 670px;
      position: absolute;
      margin-left: 338px;
      font-weight: 400;
      }
      
      .txt-6 .tool {
      font-family: 'Pretendard-Regular';
      font-size: 1.6em; /* 폰트 크기 조정 */
      padding: 0;
      top: 710px;
      position: absolute;
      margin-left: 438px;
      font-weight: 400;
      }
      
      .txt-6 .redesign {
          font-family: 'Pretendard-Regular';
          font-size: 2em; /* 폰트 크기 조정 */
          font-weight: bold;
          padding: 22px 110px;
          top: 750px;
          position: relative;
          margin-left: 768px;
          color: rgb(93, 133, 241);
          font-family: 'SUITE-Regular';
          background-color: #fff;
          border-radius: 10px;
          text-align: center;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease-in; /* 부드럽게 변화하는 효과 */
        }
    
        .txt-6 .redesign:hover {
          color: #fff;
          font-family: 'SUITE-Regular';
          background-color: rgb(93, 133, 241);
          border: 3px solid #fff;
        }

        /* 추가 */

        /* #about {
          position: relative;
          overflow: hidden;
        }
        
        .content-wrapper {
          position: relative;
          z-index: 1; /* 슬라이드 콘텐츠 위에 표시되도록 설정 */
        } */
        
        .slide-content {
          position: absolute;
          top: 0;
          right: -100%; /* 처음에는 오른쪽에 숨겨져 있도록 설정 */
          width: 300px; /* 슬라이드될 콘텐츠의 너비 */
          height: 100%;
          background: #f0f0f0; /* 배경색을 설정하거나 필요한 경우 이미지 등을 추가 */
          transition: right 0.5s ease; /* 슬라이드 효과를 부드럽게 설정 */
          z-index: 0; /* 콘텐츠가 뒤에 숨겨지도록 설정 */
        }
        
        #about:hover .slide-content {
          right: 0; /* 마우스가 div#about에 올라가면 슬라이드됨 */
        }
        
        .extra-content {
          padding: 20px;
        }